html, body {
  height: 100%;
  width: 100%;
}

section, article {
  border: 1px solid grey;
  border-radius: 1%;
  text-align: center
}

section{
  background-color: orangered;
}

body{
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  grid-template-areas: 
  "area1 area1 area1 area2 area2 area2"
  "area3 area3 area4 area4 area5 area5"
  "area6 area6 area6 area7 area7 area7"
  "area8 area8 area8 area8 area8 area8";
}

#s1{
  grid-area: area1;
}

#s2{
  grid-area: area2;
}

#s3{
  grid-area: area3;
}

#s4{
  grid-area: area4;
}

#s5{
  grid-area: area5;
}

#s6{
  grid-area: area6;
}

#s7{
  grid-area: area7;
}

#s8{
  grid-area: area8;
}