html, body {
  height: 100%;
  width: 100%;
}

section, article {
  border: 1px solid grey;
  border-radius: 1%;
  text-align: center
}

section{
  background-color: lime;
}

body{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5 rem;
  column-gap: 0.5 rem;
}

.fila1{
  width: 49%;
}

.fila2{
  width: 32%;
  display: flex;
  flex-direction: row;
}

.fila3{
  width: 49%;
  display: flex;
  flex-direction: row;
}

.fila4{
  width: 98%;
  display: flex;
  flex-direction: row;
}*/